<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio - Jonathan Affre</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top">E-portfolio</a>
        </li>
        <li>
            <a href="#top">Home</a>
        </li>
        <li>
            <a href="#about">A propos</a>
        </li>
        <li>
            <a href="#services">Compétences</a>
        </li>
        <li>
            <a href="#portfolio">Portfolio</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 style="color:white">Jonathan Affre</h1>

        <h3 style="color:white">Passionné par le web et le développement d'application mobile, en freelance depuis 4
            ans. Si mon profil vous intéresse n'hésitez pas </h3>
        <br>
        <a href="#contact-page" class="btn btn-dark btn-lg">Contactez moi</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12 text-center">
                <img class="img-responsive img-rounded" style="text-align:center;display:inline;" src="./img/moi.jpg">
            </div>!-->
            <div class="col-lg-12 text-center">
                <h2>A propos</h2>

                <p class="lead">
                    Bienvenue! Je suis développeur web dans le sud de la France, à Montpellier.
                    Voici mon site portfolio/blog (blog en construction) dans lequel je vous parle de ma passion le Web
                    en général...
                    Que ce soit pour le développement web backend, le web design ou le SEO, je partage dans mon blog
                    toutes les infos que j'ai et ma vision des ces différents sujets du monde du Web.
                    Vous trouverez aussi mes derniers projets web , ainsi que mon cv au cas où vous recherchiez un
                    développeur web pour vos projets!
                </p>

                <p class="lead">

                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Compétences web et mobile</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-html5 fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>HTML5 CSS3</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 90%;">
                                </div>
                                <span class="progress-type">HTML5 / CSS3</span>
                            </div>
                            <p>4 ans d'expérience dans la mise en place des technologies HTML5 et CSS3</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-jsfiddle fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Node.js / JS Front</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                </div>
                                <span class="progress-type">Node.js / JS Front</span>
                            </div>
                            <p>3 ans d'expérience et de passion pour le framework JavaScript Node.js</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-apple fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Objective-c</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                </div>
                                <span class="progress-type">Objective-c</span>
                            </div>
                            <p>Première année d'apprentissage de la technologie Objective-c</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-database fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>BDD SQL / NoSQL</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                </div>
                                <span class="progress-type">Oracle BDD / Mongo DB</span>
                            </div>
                            <p>4 ans d'expérience dans le domaine de la base de données client et serveur</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-android fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>JAVA Android</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                </div>
                                <span class="progress-type">JAVA Android</span>
                            </div>
                            <p>2 ans d'expérience en développement JAVA / Android</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-wordpress fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Déploiement CMS</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                </div>
                                <span class="progress-type">Wordpress</span>
                            </div>
                            <p>Trois blogs pour particuliers créés avec wordpress</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-windows fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>ASP.NET MVC</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                </div>
                                <span class="progress-type">C#</span>
                            </div>
                            <p>Deux projets d'école développés en ASP.NET MVC</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-joomla fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Intégration Joomla</strong>
                            </h4>

                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                </div>
                                <span class="progress-type">Joomla</span>
                            </div>
                            <p>Développement de deux site e-commerce avec Joomla</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Projets personnels & ambitions</h1>
        <hr class="small">
        <H4>
            Etant un grand passionné du web et de l'informatique en général, grand curieux des nouvelles technologies,
            je veux transmettre, à travers ce blog/portfolio ma vision du monde du développement web et mobile.
        </H4>

        <h4>
            Je suis étudiant en alternance et ai l'occasion de tester de nombreuse technologies que ce soit en cours ou
            en entreprise.
            Cela fait déjà 5 ans que je travaille dans le monde du web et ai plusieurs projets en cours de
            développement.
        </h4>

        <h4>
            Je pose ici un lien vers mon dépot github où j'expérimente et développe des produits / outils
            issus de mon imagination ou de mes expériences passées.
        </h4>

        <h4>
            J'ai pour ambition de monter mon entreprise à la fin de mes études me permettant de commercialiser les
            produits que je développe.
        </h4>
        <a class="btn btn-info" href="https://github.com/JohnnyBeGood34" target="_blank"><i class="fa fa-github"></i>
            Dépot github</a>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Développements web professionnels</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <h5>les clés du neuf</h5>
                            <a href="http://www.lesclesduneuf.com" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/lcdnpng.png"
                                     style="height:300px;width:100%;">
                            </a>
                            <p>
                                Plateforme immobilière de centralisation d'offres immobilières.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <h5>Application métré</h5>
                            <a href="http://stark-gorge-7810.herokuapp.com/">
                                <img class="img-portfolio img-responsive" src="img/appmetre.png"
                                     style="height:300px;width:100%;">
                            </a>
                            <p>
                                Application web de gestion et économie de projets du bâtiment.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <h5>Montpellier sports</h5>
                            <a href="http://www.montpelliersport.fr">
                                <img class="img-portfolio img-responsive" src="img/mtp-sport.png"
                                     style="height:300px;width:100%;">
                            </a>
                            <p>
                                Association de journalistes du sport sur Montpellier.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <h5>E-prospects</h5>
                            <a href="http://www.epropsects.biz/web/fr">
                                <img class="img-portfolio img-responsive" src="img/eprospect.png"
                                     style="height:300px;width:100%;">
                            </a>
                            <p>
                                Plateforme d'achat / vente de contacts et de prospects en ligne.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested)
                <a href="#" class="btn btn-dark">Voir plus de projets</a>-->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Obtenir mon CV</h3>
                <hr class="small">
                <a href="./CV/CV-JonathanAffre.pdf" class="btn btn-lg btn-light">Télécharger mon CV!</a>
            </div>
        </div>
    </div>
</aside>
<!-- Call to Action -->
<aside class="call-to-action" id="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Restons en contact</h3>

                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label for="InputName">Nom & Prénom</label>

                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName"
                                   placeholder="Votre nom" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Adresse mail</label>

                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmail" name="InputEmail"
                                   placeholder="Votre adresse mail" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Message</label>

                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5"
                                      required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Envoyer" class="btn btn-primary pull-right">
                </form>
            </div>
        </div>
    </div>
</aside>

<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br/>
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
    </iframe>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Jonathan Affre</strong>
                </h4>

                <p>1 chemin de la Gardie<br>34170 Castelnau-le-lez</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> +33 6 11 67 21 68</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:jonathanaffre@gmail.com">jonathanaffre@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>

                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Portfolio Jonathan Affre 2014</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
